<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.MrCBBS.mapper.PostMapper">
	
	<insert id="insertPost" parameterType="com.MrCBBS.entities.Post" useGeneratedKeys="true" keyProperty="PID">
		insert into post(PKnob,PTitle,PTopic,PContent,UName,PDate,PCloseDate,Status)
		values(#{PKnob},#{PTitle},#{PTopic},#{PContent},#{UName},#{PDate},#{PCloseDate},#{Status})
	</insert>
	
	<!-- 通过账号获取 -->
	<select id="selectPostByUName" parameterType="string" resultMap="posts">
		select * from post
		where UName = #{UAccount}
	</select>
	<!-- Post集合类型 -->
	<resultMap type="com.MrCBBS.entities.Post" id="posts">
		<id property="PID" column="PID"></id>
		<result property="PKnob" column="PKnob"/>
		<result property="PTitle" column="PTitle"/>
		<result property="PTopic" column="PTopic"/>
		<result property="PContent" column="PContent"/>
		<result property="UName" column="UName"/>
		<result property="PDate" column="PDate"/>
		<result property="PCloseDate" column="PCloseDate"/>
		<result property="Status" column="Status"/>
	</resultMap>
	
	<select id="selectPostByPID" parameterType="Integer" resultMap="posts">
		select * from post
		where PID=#{PID}
	</select>
	
	<select id="selectPostByPKnob" parameterType="Integer" resultMap="posts">
		select * from post
		where PKnob=#{PKnob}
	</select>
	
</mapper>
